section.slick-slider-main

	.slide
		a(href="#")
			img(src="http://lorempixel.com/1200/800/city/9", alt="")
	.slide
		a(href="#")
			img(src="http://lorempixel.com/1200/800/city/2", alt="")
	.slide
		a(href="#")
			img(src="http://lorempixel.com/1200/800/city/3", alt="")