<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Slick Carousel
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/slick.css")
	link(rel="stylesheet", href="css/slick-theme.css")
	link(rel="stylesheet", href="css/main.css")
body
	main
		include views/slick-slider.jade		

	include includes/bottom-scripts.jade
